{
    http_port 80
    https_port 443
}

federada.com.br {
    # Backend API
    handle_path /api/* {
        reverse_proxy api:3000
    }

    # Frontend (React)
    handle {
        reverse_proxy web:80
    }
}
